---
import GlobalLayout from "../layouts/GlobalLayout.astro";

import Estrellita from "../assets/vectors/estrellita.svg?raw";
import Wave from "../assets/vectors/wave.svg?raw";
import VinculosPuntos from "../assets/vectors/vinculos puntos.svg?raw";
import Circulo from "../assets/vectors/circulo.svg?raw";
import Cruces from "../assets/vectors/cruces.svg?raw";
import WobbleVioleta from "../assets/vectors/wobble violeta.svg?raw";
import CaritasFelices from "../assets/vectors/caritas felices.svg?raw";
import LogoInline from "../assets/vectors/logo inline.svg?raw";
import LogoGrande from "../assets/vectors/logo grande.svg?raw";
import IconosLanding from "../assets/vectors/iconos landing.svg?raw";

import CuadradoAlfabetizaciones from "../assets/cuadrados/alfabetizaciones.svg?raw";
import CuadradoCaraDeLapiz from "../assets/cuadrados/cara de lapiz.svg?raw";
import CuadradoDatos from "../assets/cuadrados/datos.svg?raw";
import CuadradoEscuelas from "../assets/cuadrados/escuelas.svg?raw";
import { getCollection } from "astro:content";

const frontpageCuadrados = await getCollection("cuadrados");
const frontpageNuevosSaberes = await getCollection("nuevosSaberes");
const frontpageFooterButtons = await getCollection("footerButtons");
---

<GlobalLayout class="flex flex-col font-sans">
  <div class="flex min-h-screen w-full flex-col items-stretch">
    <nav class="w-full bg-blanco px-16 py-4">
      <Fragment set:html={LogoInline.replace("<svg", '<svg class="h-12 w-auto"')} />
    </nav>
    <section class="grid flex-1 grid-cols-1 md:grid-cols-2">
      <div class="flex min-h-[40vh] items-center justify-center bg-naranja p-[15%]">
        <Fragment set:html={LogoGrande.replace("<svg", '<svg class="w-100"')} containerClass="flex-1 min-w-[25vw]" />
      </div>
      <div class="flex flex-col justify-evenly bg-celeste px-[20%] py-[20%]">
        <Fragment set:html={IconosLanding.replace("<svg", '<svg class="w-full min-w-[20vw] md:max-w-[50%]"')} />
        <h2 class="my-[20%] text-[5vmax] leading-none md:my-[10%] md:text-[5vmin]">
          Hackeamos
          <br />
          la educación
          <br />
          digital
          <br />
          <strong>equitativa</strong>
        </h2>
        <Fragment set:html={Wave.replace("<svg", '<svg class="w-full min-w-[12%] max-w-[40%] md:max-w-[20%]"')} />
      </div>
    </section>
  </div>
  <section class="bg-blanco">
    <Fragment set:html={WobbleVioleta} />
    <div class="mx-auto w-full max-w-[12rem] pt-16">
      <Fragment set:html={CaritasFelices} />
    </div>
    <div class="p-[10%] py-16">
      <h2 class="flex items-center justify-center gap-4 pb-8 text-5xl font-bold leading-none">
        <Fragment set:html={Estrellita.replace("<svg", '<svg class="h-[1em] w-[1em] shrink-0"')} />{" "}
        <span class="text-center">Nuevos saberes</span>{" "}
        <Fragment set:html={Estrellita.replace("<svg", '<svg class="h-[1em] w-[1em] shrink-0"')} />
      </h2>
      <div class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-4">
        {
          frontpageNuevosSaberes.map(({ data: { número, título, content } }) => (
            <div class="flex-1 border-l border-current px-6 py-6">
              <h3 class="pb-4 text-2xl italic">{número}</h3>
              <h3 class="pb-4 text-2xl font-bold">{título}</h3>
              <p>{content}</p>
            </div>
          ))
        }
      </div>
      <div class="mt-16 flex items-center justify-between">
        <Fragment set:html={Circulo.replace("<svg", '<svg class="h-6 shrink-0"')} />
        <div class="relative">
          <Fragment set:html={Cruces.replace("<svg", '<svg class="h-8 shrink-0"')} />
          <Fragment set:html={Cruces.replace("<svg", '<svg class="absolute top-0 h-8 -scale-y-100 shrink-0"')} />
        </div>
        <Fragment set:html={Circulo.replace("<svg", '<svg class="h-6 shrink-0"')} />
      </div>
    </div>
  </section>
  <section class="bg-blanco">
    <div class="mx-auto max-w-5xl p-2">
      <div class="mb-4 flex justify-center gap-4">
        <img
          class="aspect-[1.3] w-1/2 object-contain"
          src="/assets/img/imagen_naranja.webp"
          alt="un grupo de personas atendiendo una capacitación, sentadas alrededor de una mesa, con tablets en sus manos"
          loading="lazy"
        />
        <img
          class="aspect-[1.3] w-1/2 object-contain"
          src="/assets/img/imagen_violeta.webp"
          alt="un robot siendo manipulado por manos de niñxs, usando una laptop"
          loading="lazy"
        />
      </div>
      <div class="flex items-center gap-4">
        <Fragment set:html={Wave.replace("<svg", '<svg class="w-full shrink-[2] max-w-[10vw] mx-8"')} />
        <img
          class="mx-auto aspect-[1.94] w-8/12 flex-auto object-contain"
          src="assets/img/imagen_celeste.webp"
          alt="dos mujeres riendose mirando una tablet"
          loading="lazy"
        />
        <Fragment set:html={Wave.replace("<svg", '<svg class="mx-8 w-full shrink-[2] max-w-[10vw]"')} />
      </div>
    </div>
    <Fragment set:html={VinculosPuntos.replace("<svg", '<svg class="m-16 mx-auto h-16"')} />
  </section>
  <section class="flex place-content-center bg-blanco">
    <div class="grid grid-cols-1 place-content-center xl:grid-cols-2">
      {
        frontpageCuadrados.map(({ data: { color, título, content } }) => {
          // ¿por qué así en vez de `bg-${color}`? para que lo detecte tailwind.
          const classes: any = {
            celeste: "bg-celeste",
            amarillo: "bg-amarillo lg:order-last xl:order-none",
            naranja: "bg-naranja xl:order-last",
            violeta: "bg-violeta lg:order-last",
          };
          const iconos: any = {
            celeste: CuadradoAlfabetizaciones,
            amarillo: CuadradoCaraDeLapiz,
            naranja: CuadradoDatos,
            violeta: CuadradoEscuelas,
          };
          return (
            // biome-ignore lint/correctness/useJsxKeyInIterable: <explanation>
            <div class="grid lg:grid-cols-2">
              <div
                class={`aspect-square h-auto w-full max-w-[24rem] ${classes[color]} flex items-center justify-center`}
              >
                <Fragment set:html={iconos[color].replace("<svg", '<svg class="h-32 w-32"')} />
              </div>
              <div class="h-auto w-full max-w-[24rem] overflow-y-auto break-words p-8 lg:aspect-square">
                <h2 class="mb-4 text-4xl font-bold">{título}</h2>
                <p class="text-2xl leading-6">{content}</p>
              </div>
            </div>
          );
        })
      }
    </div>
  </section>
  <section class="flex min-h-screen items-center bg-[black] text-[white]">
    <div class="grid w-full grid-rows-1 items-end lg:grid-cols-4 md:m-[10%]">
      <div class="col-span-3 flex h-full flex-col justify-end">
        <h2 class="mb-4 text-3xl leading-none p-4">
          <strong>Caso:</strong>
          <br />
          Nuestra Señora del Rosario
        </h2>
        <iframe
          class="aspect-video w-full"
          src="https://www.youtube-nocookie.com/embed/NsT30qGayP4"
          loading="lazy"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="flex flex-col items-start gap-4 mt-0 p-4">
        <p class="text-xl leading-6">
          Formamos a los docentes para enseñar clases híbridas, alfabetizaciones aumentadas y pensamiento computacional
          aplicado.
        </p>
        <a
          class="border border-[white] bg-[black] p-3 text-xl font-bold uppercase leading-none"
          target="_blank"
          rel="noreferrer"
          href="https://www.youtube.com/watch?v=NsT30qGayP4"
        >
          VER +
        </a>
      </div>
    </div>
  </section>
  <section
    class="-mb-6 grid w-full grid-flow-col-dense grid-cols-2 grid-rows-[repeat(4,_auto)] justify-center gap-[1px] bg-amarillo px-[10%] py-12 md:grid-cols-4 md:grid-rows-[repeat(2,_auto)]"
  >
    {
      frontpageFooterButtons.map(({ data: { content, buttonText, buttonUrl } }) => (
        <>
          <div class="flex flex-col justify-end">
            <h2 class="px-3 pb-4 text-xl">{content}</h2>
          </div>
          <a href={buttonUrl} class="mb-6 px-4 py-3 font-bold outline outline-1 outline-[black]">
            {buttonText}
          </a>
        </>
      ))
    }
  </section>
  <section class="grid grid-cols-1 gap-8 bg-blanco px-[10%] py-8 md:grid-cols-10">
    <div class="flex flex-col border-l border-gray-500 pl-4 md:col-span-4">
      <h2 class="py-2 text-xl font-semibold">Alianzas socioeducativas</h2>
      <div class="grid flex-1 grid-cols-2 place-content-evenly items-center gap-4">
        <a href="https://fdcsa.org.ar">
          <img
            loading="lazy"
            src="assets/img/alianzas/fdcsa.png"
            alt="Fundación por el desarrollo comunitario San Andrés"
          />
        </a>
        <a href="https://udesa.edu.ar">
          <img loading="lazy" src="assets/img/alianzas/udesa4.webp" alt="Universidad de San Andrés" />
        </a>
        <a href="https://www.feyalegria.org/argentina/" class="grid grid-cols-2 gap-2">
          <img loading="lazy" src="assets/img/alianzas/jesuitas.png" alt="jesuitas" />
          <img loading="lazy" src="assets/img/alianzas/fe y alegria.png" alt="fe y alegria" />
        </a>
        <a href="https://www.obispado-si.org.ar/">
          <img loading="lazy" src="assets/img/alianzas/diocesis de san isidro.png" alt="diocesis de san isidro" />
        </a>
      </div>
    </div>
    <div class="flex flex-col border-l border-gray-500 pl-4 md:col-span-3">
      <h2 class="py-2 text-xl font-semibold">Alianzas EdTech</h2>
      <div class="grid flex-1 grid-cols-2 place-content-evenly items-center gap-4">
        <a href="https://fidu.la/#gestion-academica">
          <img loading="lazy" src="assets/img/alianzas/fidu.png" alt="fidu" />
        </a>
        <a href="https://edpuzzle.com/">
          <img loading="lazy" src="assets/img/alianzas/edpuzzle.png" alt="edpuzzle" />
        </a>
        <a href="https://tintafresca.com.ar/schoology/">
          <img loading="lazy" src="assets/img/alianzas/schoology-t.webp" alt="schoology" />
        </a>
        <a href="https://legamasterlatam.com">
          <img loading="lazy" src="assets/img/alianzas/legamaster.png" alt="legamaster" />
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-3 border-l border-gray-500 pl-4 md:col-span-3">
      {/* TODO: revisar */}
      <h2 class="py-2 text-xl font-semibold">Nos acompañan</h2>
      <div class="grid flex-1 grid-cols-2 place-content-evenly items-center gap-4">
        <a href="https://finneg.com/ar/">
          <img loading="lazy" src="assets/img/alianzas/finnegans.png" alt="Finnegans" />
        </a>
        <a href="https://www.globant.com/es">
          <img loading="lazy" src="assets/img/alianzas/globant.png" alt="Globant" />
        </a>
        <a href="https://www.mercadolibre.com.ar/">
          <img loading="lazy" src="assets/img/alianzas/mercadolibre2.webp" alt="MercadoLibre" />
        </a>
        <a href="https://www.agd.com.ar/">
          <img loading="lazy" src="assets/img/alianzas/agd.png" alt="AGD" />
        </a>
      </div>
    </div>
  </section>
  <section class="flex flex-wrap items-end justify-between gap-8 bg-violeta px-[10%] py-24">
    <Fragment set:html={LogoInline.replace("<svg", '<svg class="w-full max-w-[16rem]"')} />
    {/* TODO: activar mail */}
    <a class="text-xl" href="mailto:info@alfadatizar.org"> info@alfadatizar.org </a>
  </section>
</GlobalLayout>
